#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E     &kp R      &kp T          &kp Y        &kp U          &kp I      &kp O    &kp P          &kp EQUAL
&kp ESC         &kp A  &kp S  &kp D     &kp F      &kp G          &kp H        &kp J          &kp K      &kp L    &kp SEMICOLON  &kp NON_US_HASH
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C     &kp V      &kp B          &kp N        &kp M          &kp COMMA  &kp DOT  &kp FSLH       &kp MINUS
                              &kp LGUI  &kp LCTRL  &lt 1 SPACE    &lt 2 ENTER  &kp BACKSPACE  &kp LCTRL
            >;
        };

        num {
            bindings = <
&kp CAPS        &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6    &kp N7      &kp N8        &kp N9     &kp N0   &kp LEFT_ALT
&kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN    &kp UP_ARROW  &kp RIGHT  &trans   &trans
&kp F1          &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7    &kp F8      &kp F9        &kp F10    &kp F11  &kp F12
                                &trans  &trans  &trans    &trans    &kp DELETE  &trans
            >;
        };

        symbol {
            bindings = <
&kp GRAVE             &kp EXCLAMATION  &kp AT  &kp LS(NUMBER_3)  &kp DOLLAR  &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp ASTERISK       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&kp PIPE              &trans           &trans  &trans            &trans      &trans         &trans     &trans         &kp SINGLE_QUOTE   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans
&kp NON_US_BACKSLASH  &trans           &trans  &trans            &trans      &trans         &trans     &trans         &kp DOUBLE_QUOTES  &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans
                                               &trans            &trans      &trans         &trans     &trans         &trans
            >;
        };
    };
};
