#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp TAB               &kp Q  &kp W  &kp E     &kp R      &kp T          &kp Y                 &kp U          &kp I      &kp O    &kp P          &kp LEFT_ALT
&kp ESC               &kp A  &kp S  &kp D     &kp F      &kp G          &kp H                 &kp J          &kp K      &kp L    &kp SEMICOLON  &kp NON_US_HASH
&kp NON_US_BACKSLASH  &kp Z  &kp X  &kp C     &kp V      &kp B          &kp N                 &kp M          &kp COMMA  &kp DOT  &kp FSLH       &kp KP_MINUS
                                    &kp LGUI  &kp LCTRL  &lt 1 SPACE    &mt LEFT_SHIFT ENTER  &kp BACKSPACE  &kp LGUI
            >;
        };

        layer_1 {
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3    &kp N4    &kp N5       &kp N6    &kp N7  &kp N8    &kp N9     &kp N0   &trans
&trans     &trans  &trans  &kp LBKT  &kp RBKT  &kp LCTRL    &kp LEFT  &kp UP  &kp DOWN  &kp RIGHT  &trans   &trans
&kp F1     &kp F2  &kp F3  &kp F4    &kp F5    &kp F6       &kp F7    &kp F8  &kp F9    &kp F10    &kp F11  &kp F12
                           &trans    &trans    &trans       &trans    &trans  &trans
            >;
        };
    };
};
